/*
  * COLORS
  * turquoise : #08b6d1
  * dark grey : #444
  * green - btn : #a1b62b
  * orange - btn : #e57418
  * light grey - btn : #88a1a5
  */

$color1: #08b6d1
$color2: #444
$color3: #a1b62b
$color4: #e57418
$color5: #88a1a5

/* --- 1. GENERAL --- */

body
  background-color: $color2
  font-family: 'Roboto', sans-serif
  font-weight: 400

h1
  font-size: 20px
  font-weight: 400

h2
  font-weight: 400
  margin-top: 0

h3
  font-size: 20px
  font-weight: 400

h4
  font-weight: 300

ul
  list-style: none
  padding: 0

a
  color: $color1
  transition: all 0.2s ease-in-out
  text-decoration: none
  &:active, &:focus
    text-decoration: none
    color: $color1
    outline: none
  &:hover
    text-decoration: none
    outline: none
    color: $color1

small
  color: #777

table a, table a:active, table a:focus
  color: #777
a.btn:hover
  font-weight: 400

.smaller
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  -o-transform: scale(0.8)

.bigger
  -webkit-transform: scale(1.3)
  -moz-transform: scale(1.3)
  -o-transform: scale(1.3)

#page-wrapper
  background-color: #fff
  padding-bottom: 50px

/* --- 2. BLOCS --- */

/* 2.1. Header */

.navbar
  min-height: 75px

.navbar-default
  background-color: $color1
  border: none
  box-shadow: 1px 1px 2px #ccc
  color: #fff
  a
    color: #fff
  .sidebar
    background-color: $color2
    box-shadow: none
    margin-top: 75px
    h1
      padding: 0 15px
  .sidebar-nav > ul li
    border: none
    a:hover, a:focus
      background-color: $color1
      color: #fff
      font-weight: 500
      outline: none
    &.active
      background-color: $color1
      font-weight: 500
      & > ul
        background-color: #fff
        & > li a
          padding: 10px 15px 10px 25px
          color: $color2
          display: block
        & > li.active, & > li.active a, & > li a:hover, & > li a:focus
          background-color: transparent
          font-weight: 500
          color: $color1

/* 2.2. Mediatheque */

.images_liees figure, .section-mediatheque .bloc-img
  display: inline-block
  margin: 10px
  height: 100px
  max-width: 100%
  img
    height: 100%
    &:hover
      cursor: pointer

.section-mediatheque .bloc-img
  position: relative
  .bloc-info
    background-color: transparent
    position: absolute
    width: 100%
    height: 100%
    & > .info
      display: none
    &:hover
      background-color: rgba(250,250,250,0.9)
      cursor: pointer
      & > .info
        display: block
        position: absolute
        width: 100%
        top: 40%
        text-align: center
        & > a
          top: 50%
          left: 50%
          font-size: 20px

/* 2.3. Text document */

.text-doc
  border: 1px solid #eee
  padding: 20px
  margin-bottom: 20px

/* --- 3. ELEMENTS --- */

img.selected
  border: 2px solid #20b938

img.danger
  border-color: #D9534F

img.primary
  border-color: #428BCA

/* MESSAGES */
#form_m p
  padding: 5px 10px
  border: 2px solid transparent
  &.bg-success
    color: #8fb97f
    border-color: #cadec2
  &.bg-danger
    color: #c58a8a
    border-color: #d8a9a9

.separator
  display: block
  width: 30px
  height: 3px
  margin: 15px 15px 15px 0
  background-color: #08B6D1
  position: relative
.sidebar .separator
  background-color: #fff
  margin: 15px 15px 30px

.btn
  padding: 4px 8px
/*add*/
.btn-success
  border-color: $color3
  background-color: $color3
  &:hover
    background-color: #fff
    border: 1px solid $color3
    color: $color3
/*edit*/
.btn-primary
  border-color: $color4
  background-color: $color4
  &:hover
    background-color: #fff
    border: 1px solid $color4
    color: $color4
/*search*/
.btn-info
  border-color: $color1
  background-color: $color1
  &:hover
    background-color: #fff
    border: 1px solid $color1
    color: $color1
/*see*/
.btn-default
  border-color: $color5
  background-color: $color5
  color: #fff
  &:hover
    background-color: #fff
    border: 1px solid $color5
    color: $color5
/*delete*/
.btn-danger
  border-color: #c9302c
  background-color: #c9302c
  color: #fff
  &:hover
    background-color: #fff
    border: 1px solid #c9302c
    color: #c9302c

h1.page-header
  margin: 15px 0

.for_checkbox
  font-weight: normal
.for_checkbox.active
  font-weight: bold

label.for_radio
  font-weight: normal

td.primary a, td.success a, td.warning a, td.danger a, td.default a
  color: #333

#frm_filters select.active,
#frm_filters input.active
  border-left: 5px solid #31B0D5

th
  color: #666
  a:hover
    color: #000
    cursor: pointer
    text-decoration: none
.no_bold
  font-weight: normal
a.no_blue
  color: #333
.bg_gris
  background-color:  #f0f0f0

tr.top td
  text-align:  center
  color: #999

i.ico-big
  font-size: 30px

/*--- TABS ---*/

.nav-tabs
  border: none

/* --- 4. FORMS --- */

.form-group.select_subcat, .form-group.select_subcat > select, .form-group#form_icon
  display: none