/* -------------------------------------------------------------------------------------------------------------
 * Couleurs
 * Couleur 1 =>
 * Couleur 2 =>
 * Couleur 3 =>
 *
 *
 * 0. SASS VARIABLES
 *   0.1. COLORS
 *   0.2. MEDIA QUERIES
 * 1. MAIN
 * 2. BLOCKS
 *   2.1. HEADER
 *   2.2. SIDEBAR
 *   2.3. BREADCRUMB
 * 3. ELEMENTS
 *   3.1. BUTTONS
 *   3.2. FORMS
 *
 *-------------------------------------------------------------------------------------------------------------- */
/* === 0. SASS VARIABLES === */
/* --- 0.1. COLORS --- */
/* COLORS
 * turquoise : #08b6d1
 * dark grey : #444
 * green - btn : #a1b62b
 * orange - btn : #e57418
 * light grey - btn : #88a1a5
 */
/**
 * 0. SASS
 *   0.1. Colors
 *   0.2. Mixins
 * 1. MAIN
 * 2. BLOCKS
 *   2.1. Header
 *   2.2. Sidebar
 *   2.3. Breadcrumb
 * 3. ELEMENTS
 *   3.1. Buttons
 *   3.2. Forms
 */
/* --- 0. SASS --- */
/* 0.1. Colors */
/* 0.2. Mixins */
/* --- 1. MAIN --- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100%; }

h1 {
  font-size: 20px;
  font-weight: 400; }

h2 {
  font-weight: 400; }

h3 {
  font-size: 20px;
  font-weight: 400; }

h4 {
  font-weight: 300; }

ul {
  list-style: none;
  padding: 0; }

a {
  color: #08b6d1;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  a:active, a:focus {
    text-decoration: none;
    color: #08b6d1;
    outline: none; }
  a:hover {
    text-decoration: none;
    outline: none;
    color: #08b6d1;
    font-weight: 400; }

a.btn:hover {
  font-weight: 400; }

/* --- 2. BLOCS --- */
/* 2.1. Header */
/* 2.2. Sidebar */
section.sidebar {
  background: #444;
  height: 100%;
  position: fixed;
  width: 20%; }
  section.sidebar ul.menu a {
    color: #fff; }
  section.sidebar ul.menu a:hover, section.sidebar ul.menu a:focus, section.sidebar ul.menu .active > a {
    background-color: #08b6d1;
    color: #fff; }
  section.sidebar ul.menu.nested {
    margin-left: 0;
    background: #fff;
    padding-left: 1rem; }
    section.sidebar ul.menu.nested > li > a {
      color: #444; }
      section.sidebar ul.menu.nested > li > a:hover, section.sidebar ul.menu.nested > li > a:focus, section.sidebar ul.menu.nested > li > a .active > a {
        background: transparent;
        color: #08b6d1; }

.is-accordion-submenu-parent > a::after {
  display: none; }

section.main-section {
  position: absolute;
  width: 80%;
  right: 0; }

/* --- 3. ELEMENTS --- */
/* 3.1. Buttons */
.btn {
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px; }
  .btn:hover {
    background-color: #fff;
    border-style: solid;
    border-width: 1px; }

/*add */
.btn-success {
  border-color: #a1b62b;
  background-color: #a1b62b; }
  .btn-success:hover {
    border-color: #a1b62b;
    color: #a1b62b; }

/*edit */
.btn-primary {
  border-color: #e57418;
  background-color: #e57418; }
  .btn-primary:hover {
    border-color: #e57418;
    color: #e57418; }

/*search */
.btn-info {
  border-color: #08b6d1;
  background-color: #08b6d1; }
  .btn-info:hover {
    border-color: #08b6d1;
    color: #08b6d1; }

/*see */
.btn-default {
  border-color: #88a1a5;
  background-color: #88a1a5; }
  .btn-default:hover {
    border-color: #88a1a5;
    color: #88a1a5; }

/*delete */
.btn-danger {
  border-color: #c9302c;
  background-color: #c9302c; }
  .btn-danger:hover {
    border-color: #c9302c;
    color: #c9302c; }

/* 3.2. Forms */
form label {
  font-weight: 700; }
form [type="color"], form [type="date"], form [type="datetime-local"], form [type="datetime"], form [type="email"], form [type="month"], form [type="number"], form [type="password"], form [type="search"], form [type="tel"], form [type="text"], form [type="time"], form [type="url"], form [type="week"], form textarea, form select {
  color: #555;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  form [type="color"]:focus, form [type="date"]:focus, form [type="datetime-local"]:focus, form [type="datetime"]:focus, form [type="email"]:focus, form [type="month"]:focus, form [type="number"]:focus, form [type="password"]:focus, form [type="search"]:focus, form [type="tel"]:focus, form [type="text"]:focus, form [type="time"]:focus, form [type="url"]:focus, form [type="week"]:focus, form textarea:focus, form select:focus {
    border-color: #88a1a5;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

/*# sourceMappingURL=style.css.map */
