/* -------------------------------------------------------------------------------------------------------------
  * Couleurs
  * Couleur 1 =>
  * Couleur 2 =>
  * Couleur 3 =>
  *

  * 0. SASS VARIABLES
  *   0.1. COLORS
  *   0.2. MEDIA QUERIES
  * 1. MAIN
  * 2. BLOCKS
  *   2.1. HEADER
  *   2.2. SIDEBAR
  *   2.3. BREADCRUMB
  * 3. ELEMENTS
  *   3.1. BUTTONS
  *   3.2. FORMS

  *--------------------------------------------------------------------------------------------------------------*/

/* === 0. SASS VARIABLES === */

/* --- 0.1. COLORS --- */

/*
  * COLORS
  * turquoise : #08b6d1
  * dark grey : #444
  * green - btn : #a1b62b
  * orange - btn : #e57418
  * light grey - btn : #88a1a5
  */

/**
  * 0. SASS
  *   0.1. Colors
  *   0.2. Mixins
  * 1. MAIN
  * 2. BLOCKS
  *   2.1. Header
  *   2.2. Sidebar
  *   2.3. Breadcrumb
  * 3. ELEMENTS
  *   3.1. Buttons
  *   3.2. Forms
  **/

/* --- 0. SASS --- */

/* 0.1. Colors */

$color1: #08b6d1
$color2: #444
$color3: #a1b62b
$color4: #e57418
$color5: #88a1a5

/* 0.2. Mixins */

@mixin box-shadow($box_shadow)
  -webkit-box-shadow: $box_shadow
  box-shadow: $box_shadow

@mixin transition($transition)
  -webkit-transition: $transition
  -o-transition: $transition
  transition: $transition

/* --- 1. MAIN --- */

body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 14px
  height: 100%

h1
  font-size: 20px
  font-weight: 400

h2
  font-weight: 400

h3
  font-size: 20px
  font-weight: 400

h4
  font-weight: 300

ul
  list-style: none
  padding: 0

a
  color: $color1
  transition: all 0.2s ease-in-out
  text-decoration: none
  &:active, &:focus
    text-decoration: none
    color: $color1
    outline: none
  &:hover
    text-decoration: none
    outline: none
    color: $color1
    font-weight: 400

a.btn:hover
  font-weight: 400

/* --- 2. BLOCS --- */

/* 2.1. Header */

/* 2.2. Sidebar */

section.sidebar
  background: $color2
  height: 100%
  position: fixed
  width: 20%
  ul.menu
    a
      color: #fff
    a:hover, a:focus, .active > a
      background-color: $color1
      color: #fff
    &.nested
      margin-left: 0
      background: #fff
      padding-left: 1rem
      & > li > a
        color: $color2
        &:hover, &:focus, .active > a
          background: transparent
          color: $color1

.is-accordion-submenu-parent > a::after
  display: none

section.main-section
  position: absolute
  width: 80%
  right: 0

/* --- 3. ELEMENTS --- */

/* 3.1. Buttons */

.btn
  color: #fff
  display: inline-block
  padding: 6px 12px
  margin: 5px 0
  text-align: center
  white-space: nowrap
  vertical-align: middle
  border: 1px solid transparent
  border-radius: 4px
  &:hover
    background-color: #fff
    border-style: solid
    border-width: 1px
/*add*/
.btn-success
  border-color: $color3
  background-color: $color3
  &:hover
    border-color: $color3
    color: $color3
/*edit*/
.btn-primary
  border-color: $color4
  background-color: $color4
  &:hover
    border-color: $color4
    color: $color4
/*search*/
.btn-info
  border-color: $color1
  background-color: $color1
  &:hover
    border-color: $color1
    color: $color1
/*see*/
.btn-default
  border-color: $color5
  background-color: $color5
  &:hover
    border-color: $color5
    color: $color5
/*delete*/
.btn-danger
  border-color: #c9302c
  background-color: #c9302c
  &:hover
    border-color: #c9302c
    color: #c9302c


/* 3.2. Forms */

form
  label
    font-weight: 700
  [type="color"], [type="date"], [type="datetime-local"], [type="datetime"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], textarea, select
    color: #555
    font-weight: 400
    border: 1px solid #ccc
    border-radius: 4px
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075))
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    &:focus
      border-color: $color5
      outline: 0
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)